.container {
    float: left;
}

#output {
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    padding: 10px;
    background: rgba(100, 100, 100, 0.1);
}

tr.bordered td {
    padding-bottom: 12px;
}
